.has-grey-400-background-color,
.bg-grey-400 {
    background-color: var(--col-grey-400);
}

.has-dark-cream-background-color,
.bg-dark-cream {
    background-color: var(--col-dark-cream);
}

.has-cream-background-color,
.bg-cream {
    background-color: var(--col-cream);
}

.has-green-background-color,
.bg-green {
    background-color: var(--col-green);
}

.has-yellow-400-color {
    color: var(--col-yellow-400);
}
.has-blue-400-color {
    color: var(--col-blue-400);
}

.text-white {
    color: var(--col-white);
}
.bg-white {
    background: var(--col-white);
}